.Message{
    display: flex;
    padding: 11px;

    &-reverse {
        flex-direction: row-reverse;
    }

    &__avatar {
        width: 79px;
        height: 79px;
        flex-shrink: 0;
        border: 3px solid #fff;
        border-radius: 50%;
    }

    &__bubble {
        margin: 0 10px 0 11px;
        padding: 7px 6px 8px 8px;
        border-radius: 8px;
        background-color: #fff;
        width: 100%;
        font-size: 14px;
        word-spacing: -1px;    
    }
}