.Header{
    background-image: url(https://picsum.photos/320/200?random=1&blur=2);
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        padding: 24px 24px 23px;
        margin: 0;
        color: var(--white);
        text-shadow: 2px 2px #000;
        letter-spacing: 1px;
    }    
}