.form{
    &__textarea {
        resize: vertical;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        box-shadow: inset 0 1px 8px rgba(0, 0, 0, .2);
    }

    &__error{
        color: red;
    }

    &__button {
        width: 100%;
        background-color: var(--blue);
        border: none;
        padding: 12px;
        font-size: 17px;
        color: var(--white);
        border-radius: 5px;
        cursor: pointer;
        height: 42px;
    }

    &__plate {
        padding: 16px 21px;
        border-top: 1px solid var(--gray-dark);
        
        &-button {
            padding-top: 9px;
            padding-left: 25px;
        }
    }
}