.Loader{
    display: flex;
    justify-content: center;
    
    &:after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        margin: 20px;
        border-radius: 50%;
        border: 6px solid var(--white);
        border-color: var(--white) transparent var(--white) transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  